*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #424242;
}

#logo{
    width: 14vw;
    height: 104px;
}
#top-bar-box{
    background-color: #009BE3;
    width: 86vw;
    height: 104px;
    float:right;
}
#top-bar-box > img{
    margin-top: 5px;
    margin-left: 10px;
    width: 100px;
    height: 100px;
    float: left;
}

#new-ticket{
    background-color: orange;
    width: 10vw;
    height: 50px;
    float: right;
    margin-top: 25px;
    margin-right: 25px;
    border-radius: 20px;
    border: 5px;
    border-style: solid;
    border-color: white;
    font-size: x-large;
    font-weight: bold;
    color: white;
}

#logout{
    background-color: red;
    width: 10vw;
    height: 50px;
    float: right;
    margin-top: 25px;
    margin-right: 25px;
    border-radius: 20px;
    border: 5px;
    border-style: solid;
    border-color: white;
    font-size: x-large;
    font-weight: bold;
    color: white;
}

#sidebar-menu{
    background-color: #929292;
    width: 14vw;
    max-height: 100.5vh;
    height: 88.5vh;
    float: left;
    overflow: hidden;
    color:black;
}

.col{
    border: .5px;
    border-style: solid;
    border-color: black;

}

.col > p{
    text-align: center;
    padding-top: 15%;
    
}
.col > a{
    padding-top: 15%;
}

.link-logo{
    margin-top: 20px;
    width: 40px;
    height: 40px;
    float: left;
}

#content-box{
    border: 5px;
    border-style: solid;
    border-color: white;
    width: 86vw;
    height: 85.5vh;
    float: right;
    overflow: hidden;
    position: absolute;
    left: 14%;
    top: 13%;
    overflow: scroll;
    
}

.message {
    width: 400px;
    height: 30px;
    text-align: center;
    border: 1px solid #201f1f;
    border-radius: 5px;
    box-shadow: 0 0 5px #201f1f;
    color : #c0bbbb;
    position: absolute;
    left: 40%;
}

/*login.html and signup.html */

#background-block{
    background-color: #7e7c7c;
    width: 76%;
    height: 99%;
    float: left;
    overflow: hidden;
    position: absolute;
    left: 12%;
    top: 0.2%;
    border-radius: 20px;
}
#login{
    background-color: #009BE3;
    width: 19vw;
    height: 50vh;
    float: left;
    overflow: hidden;
    position: absolute;
    left: 35%;
    top: 25%;
    border: 5px;
    border-style: solid;
    border-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}

.login-element{
    border: 1px;
    border-style: solid;
    border-radius: 20px;
}

/*ticketsubmission.html */

#ticket-submission {
    background-color: #009BE3;
    width: 61vw;
    height: 85vh;
    float: left;
    overflow: hidden;
    position: absolute;
    left: 17%;
    top: 0%;
    border: 5px;
    border-style: solid;
    border-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
  }

#ticket-title{
    width: 80%;
    height: 10%;
    border: 5px;
    border-style: solid;
    border-color: white;
    border-radius: 20px;
    margin-bottom: 10px;
    font-size: x-large;
}

#ticket-description{
    width: 80%;
    height: 30%;
    border: 5px;
    border-style: solid;
    border-color: white;
    border-radius: 20px;
    margin-bottom: 10px;
}

#priority-selector{
    width: 80%;
    height: 10%;
    border: 5px;
    border-style: solid;
    border-color: white;
    border-radius: 20px;
    margin-bottom: 10px;
    font-size: x-large;
    float: right;
}

#button-group {
  width: 80%;
  height: 25%;
  display: flex;
  flex-direction: row;
  justify-content: right;
}

#submit-ticket{
    background-color: lime;
    width: 25%;
    height: 25%; 
    border: 5px;
    border-style: solid;
    border-color: green;
    border-radius: 20px;
    margin-bottom: 10px;
}

#submit-ticket:hover{
    background-color: green;
    width: 25%;
    height: 25%;
    border: 5px;
    border-style: solid;
    border-color: lime;
    border-radius: 20px;
    margin-bottom: 10px;
}

#cancel-ticket{
    width: 25%;
    height: 25%;
    border: 5px;
    border-style: solid;
    border-color: darkred;
    border-radius: 20px;
    margin-bottom: 10px;
    background-color: red;
}

#cancel-ticket:hover{
    background-color: darkred;
    width: 25%;
    height: 25%;
    border: 5px;
    border-style: solid;
    border-color: red;
    border-radius: 20px;
    margin-bottom: 10px;
}

/*profile.html */
#profile-info {
    background-color: #009BE3;
    width: 30vw;
    height: 40vh;
    float: left;
    overflow: hidden;
    position: absolute;
    left: 25%;
    top: 50%;
    border: 5px;
    border-style: solid;
    border-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 10px;
}

#profile-picture {
    width: 20%;
    height: 35%;
    border: 5px;
    border-style: solid;
    border-color: white;
    border-radius: 137px;
    margin-bottom: 10px;
    position: absolute;
    left: 38%;
    top: 10%;
}

/*ticket-details.html*/

#flex-group{
    display: flex;
}

#username{
    border: 5px;
    border-style: solid;
    border-color: white;
    border-radius: 20px;
    padding-right: 5%;
    width: 30%;
}

#ticket-number{
    border: 5px;
    border-style: solid;
    border-color: white;
    border-radius: 20px;
    padding-right: 5%;
    width: 30%;
}

#title{
    width: 80%;
    height: 10%;
    border: 5px;
    border-style: solid;
    border-color: white;
    border-radius: 20px;
    margin-bottom: 10px;
    font-size: x-large;
}

#description{
    width: 80%;
    height: 70%;
    border: 5px;
    border-style: solid;
    border-color: white;
    border-radius: 20px;
    margin-bottom: 10px;
}

#sidebar-info {
  width: 20%;
  height: 65%;
  float: right;
  justify-content: center;
  display: flex;
  align-content: center;
  flex-direction: column;
  position: relative;
  bottom: 70%;
  right: 0%;
  border: 5px;
  border-style: solid;
  border-color: white;
  border-radius: 20px;

}

#close-ticket{
    background-color: lime;
    width: 25%;
    height: 25%; 
    border: 5px;
    border-style: solid;
    border-color: green;
    border-radius: 20px;
    margin-bottom: 10px;
}

#close-ticket:hover{
    background-color: green;
    width: 25%;
    height: 25%;
    border: 5px;
    border-style: solid;
    border-color: lime;
    border-radius: 20px;
    margin-bottom: 10px;
}

#delete-ticket{
    width: 25%;
    height: 25%;
    border: 5px;
    border-style: solid;
    border-color: darkred;
    border-radius: 20px;
    margin-bottom: 10px;
    background-color: red;
}

#delete-ticket:hover{
    background-color: darkred;
    width: 25%;
    height: 25%;
    border: 5px;
    border-style: solid;
    border-color: red;
    border-radius: 20px;
    margin-bottom: 10px;
}
/*dashboard.html*/

#dashboard-table{
    background: #7e7c7c;
    border: 5px;
    border-style: solid;
    border-color: #9b9797;
}