body{
    background-color: #424242;
}

#logo{
    width: 14vw;
    height: 104px;
}
#top-bar-box{
    background-color: #009BE3;
    width: 86vw;
    height: 70px;
    float:right;
}
#sidebar-menu{
    background-color: #009BE3;
    width: 70px;
    max-height: 85.5vh;
    height: 85.5vh;
    float: left;
    overflow: hidden;
}

#link-logo{
    margin-top: 20px;
    width: 40px;
    height: 40px;
    float: left;
}
