*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #424242;
}

#logo{
    width: 14vw;
    height: 104px;
}
#top-bar-box{
    background-color: #009BE3;
    width: 86vw;
    height: 104px;
    float:right;
}
#sidebar-menu{
    background-color: #009BE3;
    width: 70px;
    max-height: 100.5vh;
    height: 88.5vh;
    float: left;
    overflow: hidden;

}
#sidebar-menu:hover{
    background-color: #929292;
    width: 14vw;
    max-height: 100.5vh;
    height: 88.5vh;
    float: left;
    overflow: hidden;

}

.col > p{
    text-align: center;
    opacity: 0%;
}
.col > p:hover{
    text-align: center;
    padding-top: 15%;
    opacity: 100%;
}

.link-logo{
    margin-top: 20px;
    width: 40px;
    height: 40px;
    float: left;
}

#content-box{
    border: 5px;
    border-style: solid;
    border-color: white;
    width: 86vw;
    height: 85.5vh;
    float: right;
    overflow: hidden;
    position: absolute;
    left: 14%;
    top: 13%;
    
}

/*login.html */

#background-block{
    background-color: #999999;
    width: 76%;
    height: 99%;
    float: left;
    overflow: hidden;
    position: absolute;
    left: 12%;
    top: 0.2%;
    border-radius: 20px;
}
#login{
    background-color: #009BE3;
    width: 19vw;
    height: 50vh;
    float: left;
    overflow: hidden;
    position: absolute;
    left: 35%;
    top: 25%;
    border: 5px;
    border-style: solid;
    border-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}