{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block content %}
<form action="{{ url_for('dashboard') }}" method="post">
    <input type="submit" value="Delete">
<table class="table" id="dashboard-table">
    <thead>
        <tr>
            <th scope="col"><input type="checkbox" id="select-all" name="select-all" /></th>
            <th scope="col">Ticket Number</th>
            <th scope="col">Title</th>
            <th scope="col">Open Date</th>
            <th scope="col">Created By</th>
            <th scope="col">Status</th>
            <th scope="col">Priority</th>
        </tr>
    </thead>
    <tbody>
        {% for ticket in tickets %}
        <tr>
            <th scope="row"><input type="checkbox" id="select-item" name="ticket_id" value="{{ ticket.id }}" /></th>
            <td><a href="{{ url_for('ticket', id=ticket.id) }}">{{ ticket.id }}</a></td>
            <td>{{ ticket.title }}</td>
            <td>{{ ticket.date_open }}</td>
            <td>{{ ticket.author }}</td>
            <td>{{ ticket.status }}</td>
            <td>{{ ticket.priority }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}