{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}
<div id="background-block">
        <form action="{{url_for('login')}}" method="post" id="login">
            <input type="text" placeholder="Username" id="username-login" class="login-element" name="username">
            <input type="password" placeholder="Password" id="password-login" class="login-element" name="password">
            <input type="submit" value="Login" id="login-button">
            <div id="signup-link">
            <a href="{{ url_for('signup')}}">No Account? Sign Up.</a>
            </div>
        </form>
        
</div>
{% endblock %}