{% extends "base.html" %}
{% block title %}Signup{% endblock %}
{% block content %}
<div id="background-block">
        <!--make a form that takes a username and password-->
        <form id="login">
            <input type="text" placeholder="Username" id="username-login" class="login-element">
            <input type="email" placeholder="Email" id="email-login" class="login-element">
            <input type="password" placeholder="Password" id="password-login" class="login-element">
            <div>
                <input type="radio" id="customer" name="role" value="customer">
                <label for="customer">Customer</label>
                <input type="radio" id="technician" name="role" value="technician">
                <label for="technician">Technician</label>
            </div>
            <br>
            <button id="login-button">Signup</button>
        </form>
</div>
{% endblock %}