{% extends "base.html" %}
{% block title %}Ticket{% endblock %}
{% block content %}
<div id="background-block">
    <div id="flex-group">
        <p id="username">Username: {{ ticket.author }}</p>
        <p id="ticket-number">{{ ticket.id }}</p>
    </div>
    <p id="title">{{ ticket.title }}</p>
    <p id="description">{{ ticket.description }}</p>
    <div id="sidebar-info">
        <p id="status">Status: {{ ticket.status }}</p>
        <p id="priority">Priority: {{ ticket.priority }}</p>
        <p id="ticket-o-date">Ticket Open Date: {{ ticket.date_open }}</p>
        <p id="ticket-c-date">Ticket Close Date: {{ ticket.date_close }}</p>
    </div>
    <div id="button-group">
        <button id="delete-ticket">Delete Ticket</button>
        <button id="close-ticket">Close Ticket</button>
    </div>
</div>
{% endblock %}