{% extends "base.html" %}
{% block title %}Ticket Submission{% endblock %}
{% block content %}
<form action="{{url_for('ticketsubmission')}}" method="post" id="ticket-submission">
    <input type="text" id="ticket-title" placeholder="Ticket Title" name="ticketTitle">
    <textarea id="ticket-description" placeholder="Ticket Description" name="ticketDescription"></textarea>
    <select id="priority-selector" name="ticketPriority">
        <option value="">--Please choose an priority--</option>
        <option value="low">Low</option>
        <option value="med">Med</option>
        <option value="high">High</option>
    </select>
    <form action="ticketdetails"id="button-group">
        <input type="button" id="cancel-ticket" value="Cancel"></button>
        <input type="submit" id="submit-ticket" value="Submit Ticket"></button>
    </form>
</form>
{% endblock %}