{% extends "base.html" %}
{% block title %}Ticket{% endblock %}
{% block content %}
<div id="background-block">
    <div id="flex-group">
        <p id="username">Username: </p>
        <p id="ticket-number">Ticket Number:</p>
    </div>
    <p id="title">Title</p>
    <p id="description">Description</p>
    <div id="sidebar-info">
        <p id="status">Status: </p>
        <p id="priority">Priority: </p>
        <p id="ticket-o-date">Ticket Open Date: </p>
        <p id="ticket-c-date">Ticket Close Date: </p>
    </div>
    <div id="button-group">
        <button id="delete-ticket">Delete Ticket</button>
        <button id="close-ticket">Close Ticket</button>
    </div>
</div>
{% endblock %}